body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    background-color: #201e1e;
    overflow: hidden;
    padding: 25px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    transition: color 0.2s;
}

.logo a.active {
    color: #bde608;
    border-top: 3px solid #bde608;
    padding-top: 20px;
}

.logo a:hover {
    color: #bde608;
}


.menu {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: 140px;
}

.menu li {
    display: inline;
    margin-left: 30px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s;
}

.menu li a.active {
    color: #bde608;
    border-top: 3px solid #bde608;
    padding-top: 25px;
}

.menu li a:hover {
    color: #bde608;
}

.menu li a:hover+.highlight,
.menu li a.active+.highlight {
    display: block;
}

.highlight {
    position: absolute;
    background-color: #bde608;
    height: 3px;
    width: calc(100% - 20px);
    bottom: -10px;
    left: 10px;
    display: none;
}

.bottom-line {
    height: 4px;
    background-color: #bde608;
}

.quote-bar {
    background-color: #201e1e81;
    padding: 30px;
    text-align: center;
}

.quote-text {
    font-size: 30px;
    color: #bde608;
    text-align: center;
    margin-top: -47px;
}

.teteje {
    background-image: url("img/kondis_no4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 875px;

    animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.teteje-text {
    margin-right: 1140px;
    font-style: italic;
    text-align: left;
    margin-left: 70px;
    font-size: 60px;
    margin-top: 250px;
    color: #bde608;
    text-shadow: #1f2500 4px 4px 4px;
}

.gomb1 {
    text-align: center;
    padding-top: 140px;
}

#scrollButton {
    background-color: #6b8300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* Kerekített sarkok */
    cursor: pointer;
    /* Mutató kurzor */
    font-size: 16px;
    transition: background-color 0.2s;
}

#scrollButton:hover {
    background-color: #bde608;
    /* Háttérszín hover állapotban */
}

.kontakt {
    background-image: url(img/sulyok.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #423f3f;
    padding: 50px;
    color: white;
}

.table1 {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 30px;
}

.kontaktok {
    width: 80px;
    height: auto;
}

.slide-in td {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in td.slide-in-animate {
    opacity: 1;
    transform: translateX(0);
}


.about {
    background-image: url(img/kondi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sarga-teglalap {
    width: 1300px;
    height: 600px;
    background-color: #485800a8;
    justify-content: center;
}

.table2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #6b8300;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #bde608;
}



#google-map {
    width: auto;
    height: 600px;
    align-self: center;
    margin: 0 auto;
}

.mail-container {
    background-image: url(img/kondi3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.from-group {
    font-size: 20px;
    color: #bde608;
}

.contact-area {
    width: 500px;
    height: 30px;
}

.text-area {
    width: 500px;
    height: 60px;

}

.open {
    background-image: url(img/kondi4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #201e1e;
    color: white;
    margin-top: -40px;
}

.table4sec {
    align-items: center;
    background-image: url(img/kondi4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table4 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.table4 img {
    transition: filter 0.3s;
}

.table4 img:hover {
    filter: hue-rotate(90deg);
}

.araink-hatter {

    align-items: center;
    background-image: url(img/kondi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.tablzatharmas table {
    width: 60%;
    border-collapse: collapse;
    background-color: #fff;
    margin: 0 auto;
}

.tablzatharmas table th, table td {
    padding: 8px;
    text-align: left;
}

.tablzatharmas table th {
    background-color: #f2f2f2;
}


.tablzatharmas table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}