body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    background-color: #201e1e;
    overflow: hidden;
    padding: 25px 0; /* Magasság növelése */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    transition: color 0.2s;
}
.logo a.active{
    color: #099453;
    border-top: 3px solid #099453;
    padding-top: 20px;
}

.logo a:hover {
    color: #099453;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.menu li {
    display: inline;
    margin-left: 30px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s;
}

.menu li a.active {
    color:#099453;
    border-top: 3px solid #099453;
    padding-top: 25px;
}

.menu li a:hover {
    color: #099453;
}

.menu li a:hover + .highlight, .menu li a.active + .highlight {
    display: block;
}

.highlight {
    position: absolute;
    background-color: #099453;
    height: 3px;
    width: calc(100% - 20px);
    bottom: -10px;
    left: 10px;
    display: none;
}

.bottom-line {
    height: 4px;
    background-color: #099453;
}

.quote-bar {
    background-color: #201e1ee5;
    padding: 30px;
    text-align: center;
}

.quote-text {
    font-size: 30px;
    color: #099453;
    text-align: center;
    margin-top: -47px;
}

.teteje {
    background-image: url("img/kondis_no2.webp"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* A háttérkép ne ismétlődjön meg */
    height: 875px;
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.teteje-text{
    background-color: #099453a2;
    margin-right: 1140px;
    font-style: italic;
    background-clip: padding-box;
    text-align: left;
    margin-left: 70px;
    font-size: 60px;
    margin-top: 200px;
    color: white;
}

.gomb1{
    text-align: center;
    padding-top: 140px;
}

#scrollButton {
    background-color: #099453;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Kerekített sarkok */
    cursor: pointer; /* Mutató kurzor */
    font-size: 16px;
    transition: background-color 0.3s; /* Áttűnést a háttérszín változására */
}

#scrollButton:hover {
    background-color: #01ff88; /* Háttérszín hover állapotban */
}

.kontakt{
    background-image: url(img/sulyok.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #423f3f;
    padding: 50px;
}

.table1 {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 30px;
}

.kontaktok{
    width: 80px;
    height: auto;
}

.slide-in td {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in td.slide-in-animate {
    opacity: 1;
    transform: translateX(0);
}

.about{
    text-align:center;
    background-image:url(img/kondi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* A háttérkép ne ismétlődjön meg */
    height: 600px;
    
}

.cim{
    font-size: 30px;
    font-style: italic;
}

.video-container{
    justify-content:center;
}

video {
    max-width: 70%;
    height: auto; 
}

.video-controls {
    display: flex;
    flex-direction: column;
}

.video-controls button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #099453;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.video-controls button:hover {
    background-color: #01ff88;
}

#volumeRange {
    width: 100%;
}

.about-text {
    font-size: 20px;
    text-align: justify;
}

.table2 {
    max-width: 80%;
    text-align: center;
}