/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    width: 60%;
    border-collapse: collapse;
    background-color: #fff;
    margin: 0 auto; /* középre igazítás */
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* style.css */

.image-text-container {
    display: flex;
    align-items: center;
  }
  
  .image {
    max-width: 200px;
    margin-right: 20px;
  }
  
  .text {
    flex: 1;
  }
  